# ignore venv/
venv/
*.env
*.db
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
.DS_Store
.idea/
*.db
*.sqlite
*.egg-info/
dist/
build/
*.egg
*.pytest_cache/
.pytest_cache/
.coverage
htmlcov/
*.env
*.venv
*.csv
*.json
*.xml
*.pot
*.ipynb_checkpoints/
.mypy_cache/
.pyre/
.pytype/
.pytest_cache/
.pyright/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.log
*.out
*.pid
*.seed
*.class
*.ipynb_checkpoints/
analyzis.ipynb
taxi_zones.dbf
